/* палитра */
/* рут */

/* стилі для всієї сторінки */
body {

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

address {
    font-style: normal;
}

/* HEADER */

/* MAIN */
/* hero */
/* about */
/* prices */
/* people come to us */
/* barber */
/* in Latin */
/* online-booking */

/* FOOTER */