h1,
h2,
p {
  margin: 0;
}

.body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.section {
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
}
.button:hover,
.button:focus {
  background: #ff6c00;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}
.second-button:hover,
.second-button:focus {
  background: #ff6c00;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.title {
  font-family: "Railway", sans-serif;
}

.second-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: var(--pre-title-case);
}

.pre-title::before {
  content: " ";
  display: inline-block;
  height: 1px;
  width: 60px;
  background: #303030;
  margin-right: 20px;
  vertical-align: middle;
}
