/* General styles */

:root {
  --main-color: #303030;
  --second-color: #555555;
  --accent-color: #ff6c00;
  --pre-title-case: uppercase;
  --title-first-color: #ffffff;
  --title-second-color: #303030;
  --button-first-color: #ffffff;
  --button-second-color: #303030;
  --specific-ident: 20px;
}

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;


